@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
* {
  margin: 20px;
  margin-bottom: 0px;
  font-family: 'Merriweather', serif;
}
.header-banner {
  background-image: linear-gradient(
      to bottom,
      rgba(7, 2, 17, 1),
      rgba(7, 2, 17, 0)
    ),
    url('../resources/Banner Image.png');
  border-radius: 16px;
  background-size: cover;
  background-position: bottom center;
  height: 80vh;
  text-align: center;
  color: #fff;
  color: rgba(242, 246, 249);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

#banner-text1 {
  position: absolute;
  top: 100px;
  left: 440px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#banner-text2 {
  position: absolute;
  top: 155px;
  left: 295px;
  color: #fff;
  text-align: center;
  font-size: 62px;
  font-weight: 900;
  line-height: 95px;
}
.offer-section {
  padding-top: 30px;
  text-align: center;
}
#new-year-pic {
  height: 48vh;
  padding-bottom: 100px;
}
#off {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#holiday {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 5px;
}
#categories {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.mid-party {
  background-image: linear-gradient(
      to bottom,
      rgba(7, 2, 17, 1),
      rgba(7, 2, 17, 0)
    ),
    url('../resources/Vectorrr.png');
  background-repeat: no-repeat;
  border-radius: 16px;
  background-size: cover;
  background-position: bottom center;
  height: 80vh;
  color: #fff;
  color: rgba(242, 246, 249);
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-section {
  padding-left: 50px;
}
#welcome {
  color: #fff;
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 900;
  /* line-height: 78px; */
  letter-spacing: 6.04px;
}
#party-paragraph {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 12px;
}
.btn {
  color: white;
  background-color: transparent;
  border-radius: 0px;
  border: none;
  padding-left: 40px;
}
.group-img {
  /* width: 90%; */
  height: 400px;
  padding-right: 50px;
}
